[submodule "kfd/fun/sandbox_extension_generator"]
	path = kfd/fun/sandbox_extension_generator
	url = https://github.com/m1zole/sandbox_extension_generator
[submodule "DirtyCowKit"]
	path = DirtyCowKit
	url = https://github.com/BomberFish/DirtyCowKit
[submodule "Fugu15/KernelPatchfinder"]
	path = Fugu15/KernelPatchfinder
	url = https://github.com/opa334/KernelPatchfinder
[submodule "packages/KernelPatchfinder"]
	path = packages/KernelPatchfinder
	url = https://github.com/opa334/KernelPatchfinder
[submodule "packages/PatchfinderUtils"]
	path = packages/PatchfinderUtils
	url = https://github.com/pinauten/PatchfinderUtils
[submodule "packages/SwiftMachO"]
	path = packages/SwiftMachO
	url = https://github.com/pinauten/SwiftMachO
[submodule "packages/SwiftUtils"]
	path = packages/SwiftUtils
	url = https://github.com/pinauten/SwiftUtils
